@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display');



* {
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}

html {
  background: url(../images/background1.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  position: absolute;
  top: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  /* padding-top: 10px; */
  height: 500px;
}

.name {
  font-family: 'Playfair Display', serif;
  margin-bottom: 0px;
  margin-top: 50px;
  color: black;
  font-size: 7em;
  padding-top: 50px;
  text-align: center;
}

.title2 {
  font-family: 'Playfair Display', serif;
  margin-top: 0px;
  margin-bottom: 0px;
  color: black;
  font-size: 2em;
  padding: 0px 0px 20px 0px;
  text-align: center;
}

.icons {
  text-align: center;
  position: bottom;
  bottom: 0px;
  left: 0;
  width: 100%;
}

.socialIcons img {
  margin-right: 40px;
  height: 50px;
  width: 50px;
  text-decoration: none;
}

a{
  text-decoration: none;
}

.socialIcons2 img {
  height: 50px;
  width: 50px;
  text-decoration: none;
}
