@import url('https://fonts.googleapis.com/css?family=Raleway');



* {
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}


header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

@supports (position: sticky) {
  body {
    padding-top: 0;
  }
  header {
    position: sticky;
  }
}



.nav_bar {
  align-items: center;
  position: relative;
  height: 80px;
  width: 100%;
  transition: 0.2s ease;
  color: rgb(78, 78, 78);
}

.nav_bar ul li a.active-page
{
  border-bottom: 1px solid;
}

.nav_bar .nav_ {
  margin: 0;
  padding: 0;
  display: inline-block;
  float: right;
  margin-right: 5%;
}

.nav_bar .nav_ .item {
  list-style: none;
  display: inline-block;
  font-size: 18px;
  padding: 5px;
  font-weight: 300;
  line-height: 80px;
  margin-right: 20px;
  transition: 0.5s ease;
}



.nav_bar .nav_ .item a {
  text-decoration: none;
  color: inherit;
}

.nav_bar .logo {
  color: rgb(50, 50, 50);
  float: left;
  display: inline-block;
  margin-top: 10px;
  margin-left: 5%;
  width: 40px;
  height: 40px;
  transition: 0.5s ease;
}

.nav_bar img {
  height: 40px;
  width: 40px;
  float: left;
:
 }

.scrolled {
  background-color: rgba(62, 62, 62, 0.4);
  color: white;
  transition: 0.5s ease;
}

.scrolled.nav_bar {
  height: 50px;
  background-color: rgba(62, 62, 62, 0.8);
  transition: 0.5s ease;
}

.scrolled.nav_bar .nav_ .item {
  line-height: 40px;
  transition: 0.5s ease;
}



.scrolled.nav_bar .logo {
  float: left;
  display: inline-block;
  margin-top: 5px;
  margin-left: 5%;
  width: 40px;
  height: 40px;
] transition: 0.5s ease;
}
