@import url('https://fonts.googleapis.com/css?family=Raleway');




* {
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}

body{
  background: #f1f1f1
}

.head_title{
margin: 20px 25px 20px 0px;
background-color:none;
padding: 0px 25px 25px 25px;
color: rgb(80, 80, 80);
border-radius: 20px;
font-family: 'Raleway', sans-serif;
}

.head_title h1{
  font-size: 4em;
}

a{
  color: black;
}

a:hover{
  color: rgb(110, 110, 110)
}

.head_title p{
  font-size: 1em;
}

.thumbnail{
  background-color: none;
  height: 400px;
}

.thumbnail img{
  border-radius: 5px;
}

.updates{
  font-size: 1em;
  letter-spacing: 2px;
  line-height: 1.6;
  margin-bottom: 40px;
}

.updates a{
  font-size: 1.1em;
  color: black;
  cursor: grab;
}
